In [1]:
import pandas as pd

In [27]:
league_table=pd.read_csv('QualifierTeams.csv')
goalscorers=pd.read_csv('QualifierGS.csv')
assists=pd.read_csv('QualifiersAs.csv')
cleansheets=pd.read_csv('QualifierCS.csv')

In [28]:
from pandas import DataFrame

In [29]:
teams=list(league_table['TEAM'])
played=list(league_table['P'])
won=list(league_table['W'])
draw=list(league_table['D'])
lost=list(league_table['L'])
gs=list(league_table['GS'])
gc=list(league_table['GC'])
gd=list(league_table['GD'])
points=list(league_table['pts'])

In [30]:
player=list(goalscorers['Player'])
goals=list(goalscorers['Goals'])
team=list(goalscorers['Team'])

In [31]:
playm=list(assists['Playmaker'])
ast=list(assists['Assists'])
tm1=list(assists['Team'])

In [32]:
keep=list(cleansheets['Keeper'])
cs=list(cleansheets['Clean Sheets'])
tm2=list(cleansheets['Team'])

In [9]:
#MATCH
games_played=int(input("HOW MANY GAMES PLAYED THIS MATCHWEEK? "))
for match in range(games_played):
    ht=input("HOME TEAM: ")
    print("GOAL SCORED BY",ht,": ")
    gh=int(input())
    at=input("AWAY TEAM: ")
    print("GOAL SCORED BY",at,": ")
    ga=int(input())
    for t in range(len(teams)):
        if(ht in teams):
            ind_home=teams.index(ht)
            ind_away=teams.index(at)
    
    played[ind_home]=played[ind_home]+1
    played[ind_away]=played[ind_away]+1
    gs[ind_home]=gs[ind_home]+gh
    gc[ind_home]=gc[ind_home]+ga
    gs[ind_away]=gs[ind_away]+ga
    gc[ind_away]=gc[ind_away]+gh
    gd[ind_home]=gs[ind_home]-gc[ind_home]
    gd[ind_away]=gs[ind_away]-gc[ind_away]
    
    
    if(gh>ga):
        points[ind_home]=points[ind_home]+3
        points[ind_away]=points[ind_away]+0
        won[ind_home]=won[ind_home]+1
        lost[ind_away]=lost[ind_away]+1
        
    if(ga>gh):
        points[ind_away]=points[ind_away]+3
        points[ind_home]=points[ind_home]+0
        won[ind_away]=won[ind_away]+1
        lost[ind_home]=lost[ind_home]+1
        
    if(gh==ga):
        points[ind_home]=points[ind_home]+1
        points[ind_away]=points[ind_away]+1
        draw[ind_home]=draw[ind_home]+1
        draw[ind_away]=draw[ind_away]+1

HOW MANY GAMES PLAYED THIS MATCHWEEK? 1
HOME TEAM: LEICESTER
GOAL SCORED BY LEICESTER :
1
AWAY TEAM: WOLVES
GOAL SCORED BY WOLVES :
1

In [33]:
#GOALSCORERS, ASSISTS, CLEANSHEETS
#lgs=len(goalscorers)
#las=len(assists)
#lcs=len(cleansheets)
while(True):
    gsc=input("GOALSCORER: ")
    if(gsc=="X"):
        break
    scored=int(input("NUMBER OF GOALS: "))
    tm=input("TEAM: ")
    #for g in range(lgs):
    if gsc not in player:
        player.append(gsc)
        goals.append(0)
        team.append("A")
    
    if gsc in player:
        player_ind=player.index(gsc)
        goals[player_ind]=goals[player_ind]+scored
        team[player_ind]=tm

print("\n")
print("ASSISTS")
while(True):
    pm=input("ASSIST MAN: ")
    if(pm=="X"):
        break
    assisted=int(input("NUMBER OF ASSISTS: "))
    tmp=input("TEAM: ")
    #for p in range(las):
    if pm not in playm:
        playm.append(pm)
        ast.append(0)
        tm1.append("B")
        #las+=1
    if pm in playm:
        playm_ind=playm.index(pm)
        ast[playm_ind]=ast[playm_ind]+assisted
        tm1[playm_ind]=tmp
            
print("\n")
print("CLEAN SHEETS")
while(True):
    cls=input("KEEPER: ")
    if(cls=="X"):
        break
    css=int(input("NUMBER OF CLEANSHEETS: "))
    tmc=input("TEAM: ")
    #for c in range(lcs):
    if cls not in keep:
        keep.append(cls)
        cs.append(0)
        tm2.append("C")
        keep_ind=keep.index(cls)
        cs[keep_ind]=cs[keep_ind]+css
        tm2[keep_ind]=tmc
        #lcs+=1
    elif cls in keep:
        keep_ind=keep.index(cls)
        cs[keep_ind]=cs[keep_ind]+css
        tm2[keep_ind]=tmc

GOALSCORER: D. James
NUMBER OF GOALS: 3
TEAM: UNITED
GOALSCORER: 1
NUMBER OF GOALS: e\

ValueError: invalid literal for int() with base 10: 'e\\'

In [20]:
fin={'TEAM': teams,
     'P': played,
     'W': won,
     'D': draw,
     'L': lost,
     'GS': gs,
     'GC': gc,
     'GD': gd,
     'pts': points
    }

goalscore={'Player': player,
     'Goals': goals,
     'Team': team
    }

asst={'Playmaker': playm,
     'Assists': ast,
     'Team': tm1
    }

cleans={'Keeper': keep,
     'Clean Sheets': cs,
     'Team': tm2
    }

In [21]:
df = DataFrame(fin, columns= ['TEAM','P','W','D','L','GS','GC','GD','pts'])
df1 = DataFrame(goalscore, columns= ['Player', 'Goals', 'Team'])
df2 = DataFrame(asst, columns= ['Playmaker', 'Assists', 'Team'])
df3 = DataFrame(cleans, columns= ['Keeper', 'Clean Sheets', 'Team'])

In [22]:
df.index +=1
df1.index +=1
df2.index +=1
df3.index +=1

In [23]:
a=df.sort_values(by=['pts'], ascending=False)
a

        TEAM  P  W  D  L  GS  GC  GD  pts
1     UNITED  3  2  0  1  10   7   3    6
2     WOLVES  3  1  2  0   6   5   1    5
3  LEICESTER  3  1  1  1   4   5  -1    4
4    EVERTON  3  0  1  2   5   8  -3    1

In [24]:
b=df1.sort_values(by=['Goals'], ascending=False)
b

          Player  Goals       Team
2           Raul      8     WOLVES
13      Moutinho      7     WOLVES
1           Jota      6     WOLVES
6       D. James      6     UNITED
3          Tosun      5    EVERTON
4        Martial      5     UNITED
5          Pogba      5     UNITED
7    Richarlison      5    EVERTON
14  Adrien Silva      5     WOLVES
8          Matic      4     UNITED
16         Vardy      4  LEICESTER
15         Lewin      3    EVERTON
9           Mata      3     UNITED
12      Rashford      3     UNITED
10      Maddison      3  LEICESTER
11         James      2     UNITED
17       Walcott      0    EVERTON

In [16]:
c=df2.sort_values(by=['Assists'], ascending=False)
c

       Playmaker  Assists       Team
1       Rashford        4     UNITED
2          Matic        3     UNITED
3       D. James        2     UNITED
4          Tosun        2    EVERTON
5          Adama        2     WOLVES
6         Alexis        2     UNITED
7          Vardy        2  LEICESTER
8        Maguire        2     UNITED
9          Gomes        2    EVERTON
10   Richarlison        2    EVERTON
15  Adrien Silva        2  LEICESTER
16          Otto        2     WOLVES
11      Moutinho        1     WOLVES
12          Mata        0     UNITED
13      Maddison        0  LEICESTER
14    Sigurdsson        0    EVERTON

In [25]:
d=df3.sort_values(by=['Clean Sheets'], ascending=False)
d

      Keeper  Clean Sheets       Team
1  Schmeicel             1  LEICESTER
2     De Gea             0     UNITED
3   Patricio             0     WOLVES
4   Pickford             0    EVERTON

In [26]:
a.to_csv('QualifierTeams.csv')
b.to_csv('QualifierGS.csv')
c.to_csv('QualifiersAs.csv')
d.to_csv('QualifierCS.csv')