In [1]:
import pandas as pd

In [2]:
#league_table=pd.read_csv('TEAMS.csv')
goalscorers=pd.read_csv('Goalscorers.csv')
assists=pd.read_csv('Assists.csv')
cleansheets=pd.read_csv('Cleansheets.csv')

In [3]:
from pandas import DataFrame

In [4]:
player=list(goalscorers['Player'])
goals=list(goalscorers['Goals'])
team=list(goalscorers['Team'])

In [5]:
playm=list(assists['Playmaker'])
ast=list(assists['Assists'])
tm1=list(assists['Team'])

In [6]:
keep=list(cleansheets['Keeper'])
cs=list(cleansheets['Clean Sheets'])
tm2=list(cleansheets['Team'])

1) Liverpool 2 vs 4 United, Anfield

2) Spurs 2 vs 1 City, White Hart Lane

If UNITED win vs LIVERPOOL

3) Liverpool 2 vs City 4 (if City is L2 then Match is at Etihad) 

4) City 1 vs 4 Spurs, Wembley 

If SPURS lose then rematch

5) FINAL: United 4 vs 1 Spurs, Wembley

2012: MANCHESTER UNITED
2013: MANCHESTER UNITED
2014: MANCHESTER UNITED
2015: TOTTENHAM HOTSPUR
2016: TOTTENHAM HOTSPUR
2017: LEICESTER CITY
2018: LIVERPOOL
2019: MANCHESTER UNITED

In [7]:
#GOALSCORERS, ASSISTS, CLEANSHEETS
#lgs=len(goalscorers)
#las=len(assists)
#lcs=len(cleansheets)
while(True):
    gsc=input("GOALSCORER: ")
    if(gsc=="X"):
        break
    scored=int(input("NUMBER OF GOALS: "))
    tm=input("TEAM: ")
    #for g in range(lgs):
    if gsc not in player:
        player.append(gsc)
        goals.append(0)
        team.append("A")
    
    if gsc in player:
        player_ind=player.index(gsc)
        goals[player_ind]=goals[player_ind]+scored
        team[player_ind]=tm

print("\n")
print("ASSISTS")
while(True):
    pm=input("ASSIST MAN: ")
    if(pm=="X"):
        break
    assisted=int(input("NUMBER OF ASSISTS: "))
    tmp=input("TEAM: ")
    #for p in range(las):
    if pm not in playm:
        playm.append(pm)
        ast.append(0)
        tm1.append("B")
        #las+=1
    if pm in playm:
        playm_ind=playm.index(pm)
        ast[playm_ind]=ast[playm_ind]+assisted
        tm1[playm_ind]=tmp
            
print("\n")
print("CLEAN SHEETS")
while(True):
    cls=input("KEEPER: ")
    if(cls=="X"):
        break
    css=int(input("NUMBER OF CLEANSHEETS: "))
    tmc=input("TEAM: ")
    #for c in range(lcs):
    if cls not in keep:
        keep.append(cls)
        cs.append(0)
        tm2.append("C")
        keep_ind=keep.index(cls)
        cs[keep_ind]=cs[keep_ind]+css
        tm2[keep_ind]=tmc
        #lcs+=1
    elif cls in keep:
        keep_ind=keep.index(cls)
        cs[keep_ind]=cs[keep_ind]+css
        tm2[keep_ind]=tmc

GOALSCORER: Martial
NUMBER OF GOALS: 1
TEAM: UNITED
GOALSCORER: Pogba
NUMBER OF GOALS: 2
TEAM: UNITED
GOALSCORER: Andreas
NUMBER OF GOALS: 1
TEAM: UNITED
GOALSCORER: Sissoko
NUMBER OF GOALS: 1
TEAM: SPURS
GOALSCORER: X


ASSISTS
ASSIST MAN: Rashford
NUMBER OF ASSISTS: 1
TEAM: UNITED
ASSIST MAN: McTominay
NUMBER OF ASSISTS: 1
TEAM: UNITED
ASSIST MAN: Greenwood
NUMBER OF ASSISTS: 1
TEAM: UNITED
ASSIST MAN: X


CLEAN SHEETS
KEEPER: X

In [8]:
goalscore={'Player': player,
     'Goals': goals,
     'Team': team
    }

asst={'Playmaker': playm,
     'Assists': ast,
     'Team': tm1
    }

cleans={'Keeper': keep,
     'Clean Sheets': cs,
     'Team': tm2
    }

In [9]:
df1 = DataFrame(goalscore, columns= ['Player', 'Goals', 'Team'])
df2 = DataFrame(asst, columns= ['Playmaker', 'Assists', 'Team'])
df3 = DataFrame(cleans, columns= ['Keeper', 'Clean Sheets', 'Team'])

In [10]:
df1.index +=1
df2.index +=1
df3.index +=1

In [11]:
b=df1.sort_values(by=['Goals', 'Team'], inplace=False, ascending=False)
c=df2.sort_values(by=['Assists'], inplace=False, ascending=False)
d=df3.sort_values(by=['Clean Sheets', 'Keeper'], inplace=False, ascending=False)

In [12]:
b

              Player  Goals       Team
1               Kane     16      SPURS
2             Aguero     11       CITY
3             Giroud      9    CHELSEA
4          Lacazette      9    ARSENAL
5           Rashford      8     UNITED
10           Martial      7     UNITED
6            Firmino      7  LIVERPOOL
8               Sane      7       CITY
7              Xhaka      7    ARSENAL
12          D. James      6     UNITED
16             Pogba      6     UNITED
9            Wanyama      6      SPURS
13           Eriksen      6      SPURS
11             Silva      6       CITY
14              Raul      5     WOLVES
15             Salah      5  LIVERPOOL
17              Alli      4      SPURS
19         Wijnaldum      4  LIVERPOOL
18          Sterling      4       CITY
20             Pedro      4    CHELSEA
24          Moutinho      3     WOLVES
23         Greenwood      3     UNITED
25              Mane      3  LIVERPOOL
21        Aubameyang      3    ARSENAL
22              Ozil      3    ARSENAL
31             Neves      2     WOLVES
35           Doherty      2     WOLVES
36             Adama      2     WOLVES
27           Lingard      2     UNITED
38           Andreas      2     UNITED
26             Lucas      2      SPURS
28               Son      2      SPURS
29             Keita      2  LIVERPOOL
33            Milner      2  LIVERPOOL
30         De Bruyne      2       CITY
37             Jesus      2       CITY
32      Loftus-Cheek      2    CHELSEA
34             Kante      2    CHELSEA
40              Jota      1     WOLVES
42             Matic      1     UNITED
47           Maguire      1     UNITED
51       Wan-Bissaka      1     UNITED
53         McTominay      1     UNITED
56              Mata      1     UNITED
57            Alexis      1     UNITED
39      Alderweireld      1      SPURS
55              Dier      1      SPURS
58              Rose      1      SPURS
59           Sissoko      1      SPURS
46           Shaqiri      1  LIVERPOOL
50  Alexander-Arnold      1  LIVERPOOL
48    Bernardo Silva      1       CITY
41       Azpilicueta      1    CHELSEA
43           Abraham      1    CHELSEA
45          Jorginho      1    CHELSEA
49            Alonso      1    CHELSEA
54           Pulisic      1    CHELSEA
44         Kolasinac      1    ARSENAL
52        David Luiz      1    ARSENAL

In [13]:
c

           Playmaker  Assists       Team
1               Alli        9      SPURS
3          De Bruyne        6       CITY
2            Martial        6     UNITED
4           D. James        5     UNITED
5              Pedro        5    CHELSEA
6              Salah        5  LIVERPOOL
7              Silva        5       CITY
8               Jota        4     WOLVES
9               Sane        4       CITY
10             Lucas        4      SPURS
13          Rashford        4     UNITED
15           Pulisic        3    CHELSEA
16           Eriksen        3      SPURS
23         Greenwood        3     UNITED
14            Aguero        3       CITY
11        Aubameyang        3    ARSENAL
12              Ozil        3    ARSENAl
24            Giroud        2    CHELSEA
27           Firmino        2  LIVERPOOL
26         Wijnaldum        2  LIVERPOOL
25            Milner        2  LIVERPOOL
45         McTominay        2     UNITED
21         Lacazette        2    ARSENAL
20             Neves        2     WOLVES
19            Walker        2       CITY
18          Moutinho        2     WOLVES
17           Wanyama        2      SPURS
22          Ceballos        2    ARSENAL
46             Xhaka        1    ARSENAL
53      Loftus-Cheek        1    CHELSEA
..               ...      ...        ...
50            Alexis        1     UNITED
51         Robertson        1  LIVERPOOL
52              Otto        1     WOLVES
57          Ndombele        1      SPURS
54             James        1     UNITED
55          Sterling        1       CITY
56              Pepe        1    ARSENAL
58         Cavaliero        1     WOLVES
59              Mata        1     UNITED
61           Tierney        1    ARSENAL
62              Dier        1      SPURS
60           Darmian        1     UNITED
32  Alexander-Arnold        1  LIVERPOOL
44              Shaw        1     UNITED
35             Jesus        1       CITY
28          Jorginho        1    CHELSEA
29        Mkhitaryan        1    ARSENAL
30          Lindelof        1     UNITED
31             Kante        1    CHELSEA
33           Fabinho        1  LIVERPOOL
34       Azpilicueta        1    CHELSEA
36            Lamela        1      SPURS
43         Henderson        1  LIVERPOOL
37           Shaqiri        1  LIVERPOOL
38             Keita        1  LIVERPOOL
39           Willian        1    CHELSEA
40        David Luiz        1    ARSENAL
41              Rose        1      SPURS
42           Rodrigo        1       CITY
63               Son        0      SPURS

[63 rows x 3 columns]

In [14]:
d

     Keeper  Clean Sheets       Team
1  Patricio             2     WOLVES
2    De Gea             2     UNITED
3   Allison             2  LIVERPOOL
4    Lloris             1      SPURS
5      Leno             1    ARSENAL
6      Kepa             1    CHELSEA
7   Ederson             1       CITY

In [15]:
b.to_csv('Goalscorers.csv')
c.to_csv('Assists.csv')
d.to_csv('Cleansheets.csv')

                                                De Gea
  
 
 Wan-Bissaka                       Vertonghen                           Laporte                                     Rose
   
                                                  
                                                Wanyama 
                                                
                                                
 Pogba                                           Eriksen                                                      Alli
 
 
 
                             Kane                                 Aguero
                                                                                                                     Subs
                                                                                                                     Patricio
                                                                                                                     Kolasinac
                                                                                                                     Ozil
                                                                                                                     D.James
--------------------------------------------------------()----------------------------------------------------------------------------                                                                                                                      Subs
                                                                                                                     Ederson
                                                                                                                     Maguire
                                                                                                                     Xhaka
                                                                                                                     Giroud
                                                                                                                     
                                                                                                                        
                             
                                         Rashford             Martial                        
                             
                             De Bruyne                                  Silva       
                             
                             
                                              Wijnaldum       Moutinho
                                                
                             
                             
                                                 
                                                 
  Shaw                                Alderweireld                    Lindelof                                     Alexander-Arnold                                            
                                                
                                                        Lloris